<div class="navbar-navigation-menu-container">
  <ul class="navbar-navigation-menu-item-container">
    <li
      *ngFor="let item of menuNav"
      class="item"
      [ngClass]="{
        'item-active': selectedMenuItem.includes(item.id) && item.id !== 2
      }"
      (click)="navigateToMenuItem(item.id, item.link)"
    >
      <!-- Simple Navigation Links -->
      <div *ngIf="!item.sub_menu" class="item-container">
        <img [src]="item.src" class="item-icon" />
        <div class="item-name">
          {{ item.name }}
        </div>
      </div>

      <!-- Dropdown Navigation Links -->
      <div
        *ngIf="item.sub_menu"
        class="item-dropdown-container"
        [ngClass]="{
          'item-dropdown-container-active': selectedMenuItem.includes(item.id)
        }"
      >
        <div class="item-container">
          <img [src]="item.src" class="item-icon" />
          <div class="item-name">
            {{ item.name }}
          </div>
          <div class="item-arrowIcon">
            <mat-icon style="color: rgb(90, 90, 90)"
              >arrow_forward_ios</mat-icon
            >
          </div>
        </div>

        <!-- Sub Navigation Links -->
        <ul
          class="sub-item-container"
          [ngClass]="{
            'sub-item-container-active': selectedMenuItem.includes(item.id)
          }"
        >
          <li
            *ngFor="let sub_item of item.sub_menu"
            (click)="navigateToSubMenuItem(sub_item.link)"
          >
            <div class="sub-item">
              <img [src]="sub_item.src" class="item-icon" />
              <div class="item-name">
                {{ sub_item.name }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
